{% extends 'layout.html' %} 
{% block body %}
<div class="about text-dark text-center jumbotron">
	<h1><u>About</u></h1>
	<h5>
		As college students, <a href="#">Anuj</a> , <a href="#">Kunika</a> and  <a href="#">Kraitka</a> always thought we must track our expenses and make sure we spend it on the right
		things. That's what sparked the idea of this expense tracker app.
	</h5>
	<h5>
		This app helps you track your daily expenses. You can feed in your expenses in this app and refer to the expenses you
		made throughout the day, month, and even year.
	</h5>
	<h5>It gives you a month-wise total of your expenses and helps you compare your monthly expenses.</h5>
</div>

<div class="team text-light text-center">
	<h1>Our Team</h1>
	<div class="cards d-inline">
		<!-- Anuj Card -->
		<div class="card mb-3 float-left card-1">
			<div class="row no-gutters">
				<div class="col-md-6">
					<img src="static\AU23E1007.jpg" class="card-img" alt="Anuj Rathore" />
				</div>
				<div class="col-md-6 text-dark">
					<div class="card-body text-center">
						<h4 class="card-title"><u>Anuj Rathore</u></h4>
						<p class="card-text">
							Anuj is a Computer Engineering student at Avantika University Ujjain.
						</p>
						<ul class="inline card-text text-center">
							<li>
								<a href="https://www.linkedin.com/in/anuj-rathore-754919287/" class="btn btn1">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
							<li>
								<a href="https://github.com/anujrathore073" class="btn btn2">
									<i class="fa fa-github"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Kraitka -->
		<div class="card mb-3 float-right card-2">
			<div class="row no-gutters">
				<div class="col-md-6">
					<img src="" class="card-img" alt="Kraitka Jain" />
				</div>
				<div class="col-md-6 text-dark">
					<div class="card-body text-center">
						<h4 class="card-title"><u>Kraitka Jain</u></h4>
						<p class="card-text">
							Kraitka is a Computer Engineering student at Avantika University Ujjain.
						</p>
						<ul class="inline card-text text-center">
							<li>
								<a href="https://www.linkedin.com/in/kratika-jain-1713a62a5/" class="btn btn1">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
							<li>
								<a href="https://github.com/kratikagangwal" class="btn btn2">
									<i class="fa fa-github"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Kunika Card (Third Member) -->
		<div class="card mb-3 float-left card-3">
			<div class="row no-gutters">
				<div class="col-md-6">
					<img src="" class="card-img" alt="Kunika" />
				</div>
				<div class="col-md-6 text-dark">
					<div class="card-body text-center">
						<h4 class="card-title"><u>Kunika Jain</u></h4>
						<p class="card-text">
							Kunika is a Computer Engineering student at Avantika University Ujjain.
						</p>
						<ul class="inline card-text text-center">
							<li>
								<a href="https://www.linkedin.com/in/kunika-jain-818a892bb/" class="btn btn1">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
							<li>
								<a href="https://github.com/kratikagangwal" class="btn btn2">
									<i class="fa fa-github"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}
